<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.yanawa.mapper.team.TeamPostMapper">

    <insert id="insert" parameterType="teamPostVO">
        INSERT INTO SCOTT.TBL_TEAM_POST(ID, TEAM_ID, END_DATE, INFORMATION, POST_READ_COUNT ,CREATED_DATE, UPDATED_DATE)
        VALUES (SEQ_TEAM_POST.NEXTVAL, #{teamId}, #{endDate}, #{information}, #{postReadCount} ,CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <select id="selectAll" resultType="teamPostDTO">
        SELECT P.ID, P.TEAM_ID, T.TEAM_NAME, T.CITY, T.LOCAL_CITY,
        T.CREATED_DATE AS TEAM_CREATED_DATE,
        P.END_DATE, P.POST_READ_COUNT,
        P.CREATED_DATE AS POST_CREATED_DATE, P.UPDATED_DATE,
        M.MEMBER_EMAIL AS TEAM_LEADER_EMAIL  <!-- 멤버 이메일 추가 -->
        FROM TBL_TEAM T
        JOIN TBL_TEAM_POST P ON T.ID = P.TEAM_ID
        JOIN TBL_MEMBER M ON T.MEMBER_ID = M.ID   <!-- 멤버 테이블과 조인 -->
        ORDER BY P.ID DESC
    </select>
</mapper>
